.boundary {
  background-color: #333;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.mover {
  margin: 0px;
  text-align: center; }

.trumpie-img {
  width: 400px; }

.title {
  position: absolute;
  z-index: 2;
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  text-transform: uppercase; }

.trumpie {
  background-color: yellow;
  padding: 0 20px 0 20px; }

.timer {
  position: absolute;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100%;
  text-align: center; }

.counter {
  margin: 10px;
  color: white;
  font-size: 40px; }

.time-title {
  background-color: yellow;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 32px;
  padding: 10px; }

.card-container {
  margin-top: 11%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.card {
  width: 40%;
  height: 40%;
  text-align: center; }

.icons {
  width: 50%;
  height: auto; }

.icons:hover, icons:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }

button {
  padding: 15px;
  text-transform: uppercase;
  font-family: sans-serif;
  border-radius: none;
  border: none;
  font-size: 24px; }

#start {
  background-color: yellow; }

#reset {
  background-color: black;
  color: white; }

button:hover, button:focus {
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

.boom {
  z-index: 10; }

.pop-up-text {
  padding: 10px;
  width: 60%;
  margin-right: auto;
  margin-left: auto; }
  .pop-up-text #score {
    margin: 10px 0 10px 0;
    text-align: left;
    background-color: yellow;
    padding: 5px; }
  .pop-up-text button {
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
